<body> 
  <div class="form-container">
    <h2> REISTER FORM_</h2>

    <div class="form-group">
      <label for="name">NAME</label>
      <input type="text" id="name" [(ngModel)]="newStudent.name" name="name" placeholder="Enter your name"  required>
    </div>
    <div class="form-group">
      <label for="phone">MARK</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="newStudent.mark" placeholder="Enter your Mark" required>
    </div>
    <div>
      <label>
        <input type="radio" name="gender" [(ngModel)]="newStudent.gender" value="Male"  required/> MALE
      </label>
      <label>
        <input type="radio" name="gender" [(ngModel)]="newStudent.gender" value="Female" required /> FEMALE
      </label>
    </div>
    
    <div class="form-group">
      <label for="age">AGE</label>
      <select id="age" [(ngModel)]="newStudent.age" name="age" required>
        <option value="" disabled selected>Select Age</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
      </select>
    </div>
    <!-- Laptop Section (for multiple laptops) -->
    <div *ngFor="let laptop of newStudent.laptops; let i = index" class="form-group">
      <label for="laptop-{{ i }}" *ngIf="showme">Laptop Name</label>

      <input type="text" id="laptop-{{ i }}" [(ngModel)]="laptop.lname" name="laptop[]" *ngIf="showme"
        placeholder="Enter Laptop Name" required>
      <button (click)="removeLaptop(i)" type="button" class="remove-btn" *ngIf="showme">-</button>
    </div>
    <input type="checkbox" [(ngModel)]="showme">ADD LAPTOP

    <button (click)="addLaptop()" *ngIf="showme">ADD LAPTOP</button>

    <button type="submit" (click)="submitStudent(newStudent)">SAVE</button>
  </div>
</body>