<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="#">Student Management</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewtable">View Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewlaptop">View Laptop</a>
      </li>
    </ul>
  </div>
</nav>

<!-- This is where the components will be loaded based on the route -->
<router-outlet></router-outlet>
